.simonbutton{
    border-radius: 10px;
    max-width: 100px;
    text-align: center;
}
.playing{
   /* border: 5px solid purple;
   stroke: purple;*/
    fill:url(#MyGradient);
}
.winner{
    fill:url(#WinGradient);
}
.s1{
    background-color: red;
}
.s2{
    background-color: yellow;
}
.s3{
    background-color: green;
}
.s4{
    background-color: blue;
}
.svgbox{
    /*margin:0px  auto;*/
    width:50%;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middlegame{
    font-size: 30px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.switch input {
    display: none;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(33, 142, 185);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider{
    background-color: #2196f3;
}

input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.strict{
    display: flex;
    flex-direction: column;
   position: absolute;
    align-items: center;
    top: 8%;
    left:28%;
}
.strict_option{
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 25%;
    top:3%;
}
.gamediv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn_start{
    border-radius: 35px;
    position: absolute;
    top: 50%;

}

#start_btn{
    border-radius: 30%;

}
#starttxt{
    font-family: Arial, Helvetica, sans-serif;
    font-size: .5em;

}

#startgroup{
    cursor: pointer; 
}