.simonbutton{
    border-radius: 10px;
    max-width: 100px;
    text-align: center;
}
.playing{
    border: 5px solid purple;
   /* stroke: purple;*/
    fill:url(#MyGradient);
}
.s1{
    background-color: red;
}
.s2{
    background-color: yellow;
}
.s3{
    background-color: green;
}
.s4{
    background-color: blue;
}
.svgbox{
    margin-left: 200px;

}